 .slider-container{
    width: 100%;
    height: 100vh;
    /* margin-top: -150px; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
 }
 .left-slider-container{
    width: 50%;
    /* background-color: rgb(106, 106, 141); */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
 }
.right-slider-container{
    width: 50%;
    /* background-color: rgb(115, 199, 179); */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
}
.left-image-container{
    width: 100%;
    overflow: hidden;
    height: 110vh;
    object-fit: contain;

}
.left-image-container .left-image{
    width: 100%;
    height: 100%;
    transition-delay: 0.5ms;
}
.right-image-container{
    width: 100%;
    overflow: hidden;
    height: 110vh;
    object-fit: contain;
}
.right-image-container .right-image{
    width: 100%;
    height: 100%;
}