.contactsContainer {
    width: 100%;
    height: 100vh;
    background-color: rgba(251, 245, 239, 0.88);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 100px; */
    /* margin-top: 300px; */
}

.topContent {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.topContent h2 {
    font-size: 25px;
    font-weight: 320;
    letter-spacing: 7px;
    padding-bottom: 30px;
}

.topContent h4 {
    font-size: 14px;
    font-weight: 350;
    letter-spacing: 3px;
    padding-bottom: 10px;
}

.bottomContentSingleLine {
    display: flex;
}

.bottomContentLeftLink {
    padding-right: 35px;
}

.bottomContent {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.bottomContent h2 {
    font-size: 26px;
    font-weight: 320;
    letter-spacing: 7px;
    padding-bottom: 30px;
}

.bottomContent h4 {
    font-size: 14px;
    font-weight: 340;
    letter-spacing: 3px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1400px){
    .contactsContainer{
        /* margin-top: -20px; */
        padding-top: 110px;
    }
    .topContent h2{
        font-size: 23px;
        font-weight: 300;
        letter-spacing: 3px;
    }
    .topContent h4{
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 2px;
        margin-top: -5px;
    }
    .bottomContent{
        margin-top: 30px;
    }
    .bottomContent h2{
        font-size: 23px;
        font-weight: 300;
        letter-spacing: 3px;
    }
    .bottomContent h4{
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 2px;
        margin-top: -5px;
    }
}

@media screen and (max-width: 1230px) {
    .contactsContainer {
        padding-top: 80px;
    }

    .topContent {
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .topContent h2 {
        font-size: 20px;
        font-weight: 345;
        letter-spacing: 4pt;
        padding-bottom: 30px;
    }

    .topContent h4 {
        font-size: 11px;
        font-weight: 340;
        letter-spacing: 2px;
        /* padding-bottom: 10px; */
    }

    .bottomContent {
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .bottomContent h2 {
        font-size: 20px;
        font-weight: 345;
        letter-spacing: 4pt;
        padding-bottom: 30px;
    }

    .bottomContent h4 {
        font-size: 11px;
        font-weight: 340;
        letter-spacing: 2px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 950px) {
    .contactsContainer {
        display: none;
    }
}